.container {
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}


.top_container{
    width: 100%;
    height: 80px;
    border: 1px solid silver;
    align-items: center;
    justify-content: space-between;
}

#top_left_button{
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin-left: 20px;
}

.top_choose_container{
    margin-top: 5px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid silver;
    justify-content: space-around;
}
