.container {
    background-color: rgb(218,62,11);
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
    left: 0px;
    top: 0px;
    width: 100%;
    overscroll-effect: none;
    scrollbar-width: 0px;
    overflow: scroll ;
}

